body {
  header {
    .search {
      background: #005cbf;
    }
    .date {
      background: #cadbfc;
      span {
        display: inline-block;
      }
      a {
        display: inline-block;
      }
    }
  }
  footer {
    height: 100px;
    > div:first-child {
      height: 50px;
    }
    span, li, a {
      display: inline-block;
    }
    a {
      padding: 5px 20px;
    }
    > div.clearfix {
      height: 10px;
    }
  }
}