<footer class="text-light p-1">
    <div class="w-100">
        <ul class="float-left p-2">
            <li><a class="text-light border-right" href="#">About This Site</a></li>
            <li><a class="text-light border-right" href="#">Terms and Conditions</a></li>
            <li><a class="text-light border-right" href="#">Privacy Policy</a></li>
            <li><a class="text-light" href="#">Map</a></li>
        </ul>
        <span class="float-right p-3">Visit KDRM Official Website</span>
    </div>
    <div class="clearfix"></div>
    <span class="float-right pr-3">Copyright © 2007 Portal Kastarn Diraja Malaysia</span>
</footer>
