<header>
    <div class="navbar navbar-expand bg-primary text-light"><h1 class="m-3 ml-5">Royal Malaysian Customs</h1></div>
    <div class="navbar navbar-expand morpheus-den-gradient text-light p-0 m-0 shadow-sm">
        <div class="navbar-collapse collapse p-3">
            <a class="navbar-brand text-light">Bahasa Melayu</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-light border-right" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link text-light border-right" href="#">About Us</a></li>
                <li class="nav-item"><a class="nav-link text-light border-right" href="#">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="#">Site Map</a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse search p-4 m-0">
            Search
            <select class="mx-2">
                <option>All GST</option>
            </select>
            for <input type="text" class="mx-2">
            <input type="button" value="GO" class="mr-2">
            Search tips
        </div>
    </div>
    <div class="w-100 date">
        <span class="p-4" id="date">Tuesday, 24 June 2008, 11:47 PM</span>
        <div class="float-right">
            <a class="px-3 pt-3 text-warning bg-primary" href="#">GST Info</a>
            <a class="px-3 pt-3 text-warning bg-primary" href="#">e-Guide</a>
            <a class="px-3 pt-3 text-warning bg-primary" href="#">FAQ</a>
        </div>
    </div>
</header>
